.lato {
	font-family: 'Lato', sans-serif;
}

.nunito {
	font-family: 'Nunito', sans-serif;
}

.your-class{
	margin: 13%;
}

section{
	background-color: black;
}

/*.owl-carousel .item{
  margin: 3px;
}

.owl-carousel .item img{
  display: block;
  width: 30px;
  height: auto;
	background-color: black;
}*/

    .slider {
        width: 50%;
        margin: 100px auto;
    }

    /*.slick-slide {
      margin: 0px 20px;
			width: 100%;
    }*/

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
        background-color: white;
    }

		img{
			width: 100%;
			padding-left: 40px;
			padding-right: 40px;

		}

		img:hover{
			cursor: pointer;
		}

		h2{
			padding: 40px;
			font-family: "NeutraText-Bold";
			color: #666;
			font-size: 18px;

			/*line-height: 18px;*/
		}

		figcaption{
			font-family: "NeutraText-Bold";
			color: #666;
			font-size: 15px;
			margin-left: 30px;
		}

		@font-face {
    font-family: "NeutraText-Bold";
    src: url("NeutraText-Bold.otf");
