.lato {
	font-family: 'Lato', sans-serif;
}
.nunito {
	font-family: 'Nunito', sans-serif;
}
body {
	background-color: #FFFFFF;
}
/*SECCIÓN CATÁLOGO*/
#catalogue .row{
	padding: 0 ;
}
#catalogue .img-container a,
#catalogue .img-container img{
	width: 100%;
}
#catalogue .img-container a{
	display: inline-block;
}
/* Small only */
@media screen and (max-width: 39.9375em) {
	#catalogue .row{
		margin: 0;
	}
	#catalogue .columns{
		padding: 5px 0;
	}
}
/* Medium and up */
@media screen and (min-width: 40em) {
	#catalogue .row{
		margin: 0;
	}
	#catalogue .columns{
		padding: 5px 0;
	}
}
/* Large and up */
@media screen and (min-width: 64em) {
	#catalogue .row{
		margin: 0 40px;
	}
	#catalogue .columns{
		padding: 10px;
	}
}
