* {
	font-family: 'Lato', sans-serif;
}

#hface {
	height: 1em;
}
.shipping {
    background-color: #171717;
    color: white;}

#flag, #mail{
	height: 1.2em;
} 

#logo {
    height: 2.2em;
    margin-right: 2em;}

.white {
	background-color: white;
	color: black;
	padding-top: 0.5em;
}

input[type='search'] {
    border-color: black;
    width: 20em;
}

.button {
	padding: 0.8em;
	border-color: black;
	background-color: white;
}

.button:hover {
	background-color: gray;
}

.menu {
	font-weight: bold;
	padding: 0.2em 0;
}

a {
	color: #4A4A4A;
}

a:hover {
	color: gray;
}