.lato {
	font-family: 'Lato', sans-serif;
}
.nunito {
	font-family: 'Nunito', sans-serif;
}
body {
	background-color: #FFFFFF;
}
.view-product {

}
.view-product .row{
	height: 515px;
  padding: 10px 115px;
}
.view-product .columns{

}
#mini-product-gallery,
#product-photo,
#product-details{
  height: 100%;
}
#mini-product-gallery{
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#mini-product-gallery .img-container{
	background-color: transparent;
	border: 1px solid #e9e2db;
	height: 65px;
	margin: 5px 0;
  width: 65px;
}
#product-photo {
  padding-left: 35px;
}
#mini-product-gallery .img-container img,
#product-photo img{
  height: 100%;
  width: 100%;
}
